# Avoid making conflicting website addresses with other repositories
kynema-sgf/
kynema-sgf.*
kynema-ugf/
kynema-ugf.*
kynema-driver/
kynema-driver.*
kynema-benchmarks/
kynema-benchmarks.*
kynema-manager/
kynema-manager.*